.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appbox {
  width: 110px;
  height: 110px;
  /* background-color: rgb(192, 192, 192); */
  background-color: rgba(192, 192, 192, 0.3); /*자식에게 opacity 상속 안시키고 투명하게 만들기*/

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px; 
}

.appbox:hover {
  /* transform: scale(1.1); */
  transform: rotate(7deg) scale(1.2);
  color: var(--color-accent);
  filter: brightness(125%);
  cursor: pointer;
}

.icon {
  width: 90px;
  height: 90px;
  border-radius: 1rem;
  opacity: 1;
}

.name {
  margin: 0;
  padding: 0;
  color: aliceblue;
  font-weight: 500;

  display: flex;
  justify-content: center;
}