.container {
  width: 100%;
  height: 90%; /*height: 80%*/

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
}

/**/

.middlecontainer {
  width: 70%;
  height: 100%;

  overflow: hidden;
}

.slidecontainer {
  display: flex;
  flex-direction: row;

  width: 300%;
  height: 100%;
  transform: translate(-0vw);
  transition: all .5s;
  /* background-color: yellowgreen; */
}


.appcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  padding: 0;
  margin: 0;
  gap: 0.1rem;

  /* background-color: yellow; */

  align-items: center;
  justify-items: center;
  
  /* width: 70%; */
  width: 100%;
  height: 100%;
  /* overflow: auto; */
}

.buttonleft {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: rgba(192, 192, 192, 0);
  border-style: none;
}

.buttonleft:hover {
  transform: scale(1.8) translate(-0.5rem);
  color: var(--color-accent);
  filter: brightness(125%);
  cursor: pointer;
}

.buttonright {
  width: 3rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: rgba(192, 192, 192, 0);
  border-style: none;
}

.buttonright:hover {
  transform: scale(1.8) translate(0.5rem);
  color: var(--color-accent);
  filter: brightness(125%);
  cursor: pointer;
}

.icon {
  width: 100%;
  height: 100%;
  color: rgba(192, 192, 192, 0.3);
}
