.container {
  width: 100%;
  height: 100%;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.messeage {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-weight: bolder;
  font-size: 10rem;
}
