.container {
  width: auto;
  height: 10%;
  margin: 1%;
  border-radius: 10rem;

  
  background-color: rgba(192, 192, 192, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding-left: 1%;
  padding-right: 1%;
}

.form {
  width: 400px;
  height: 100%;
  /* background-color: blue; */
  

  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 90%;
  height: 70%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 1.2rem;
  border: 0.01rem solid rgba(192, 192, 192, 0.5);
  border-right: none;
  
  
  
  background-color: rgba(192, 192, 192, 0);
  /* background-color: rgba(246, 246, 246, 0.3); */
  padding-left: 1.2rem;
  padding-right: 0.5rem;

  font-size: medium;
  color: aliceblue;
  
}

.button {
  border-radius: 50%;
  background-color: rgba(192, 192, 192, 0.5);

  width: 5rem;
  height: 80%;



  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
}

.hbutton {
  border-radius: 50%;
  background-color: rgba(192, 192, 192, 0.5);
  
  width: 5rem;
  height: 80%;
  
  
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  
  border: 4px solid rgb(255, 255, 92);
}

.search {
  width: 80%;
  height: 80%;
  border-radius: 50%;

  

  
  
}

.magnify {
  font-size: 300%;
}