.container {
  border-radius: 50%;
  background-color: rgba(192, 192, 192, 0.5);

  width: 5rem;
  height: 80%;



  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container:hover {
  /* transform: scale(1.1); */
  transform: scale(1.2);
  color: var(--color-accent);
  filter: brightness(125%);
}

.hcontainer {
  border-radius: 50%;
  background-color: rgba(192, 192, 192, 0.5);

  width: 5rem;
  height: 80%;



  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  border: 6px solid rgb(80, 255, 82);
}

.hcontainer:hover {
  /* transform: scale(1.1); */
  transform: scale(1.2);
  color: var(--color-accent);
  filter: brightness(125%);
}

.icon {
  /* width: 2rem;
  height: 2rem; */
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.line {
  /* width: 2rem; */
  width: 7%;
  height: 0;
  border: 0.1rem dotted rgb(80, 255, 82);
  margin-left: 0;
  margin-right: 0;
}
