.container {
  width: 50%;
  height: 80%;
  position: fixed;
  bottom: 13%;
  left: 25%;

  border-radius: 1rem;
  /* color: white; */
  color: var(--color-blog-light-grey);
  font-weight: bolder;
  font-size: x-large;


  overflow: auto;
  padding: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blog-semi-dark);
}

.form {
  width: 100%;
  height: 15%;
  

  display: flex;
  justify-content: center;
  align-items: center;
  
  padding-top: 0.9rem;
}

.input {
  background-color: rgba(192, 192, 192, 0.2);
  border-style: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 40%;
  height: 3rem;
  padding-left: 0.7rem;
  /* color: rgb(255, 255, 255); */
  /* color: rgb(32, 37, 54); */
  color: var(--color-blog-light-gray);
  font-weight: bolder;
  font-size: 100%;
  outline: none;
}

.input::placeholder {
  color: rgb(159, 159, 159);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 3rem;
  border-style: none;
  /* background-color: rgba(123, 151, 174, 0.2); */
  background-color: rgba(192, 192, 192, 0.2);

  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 100%;
  color: rgb(151, 151, 151);
}

.button:hover {
  color: var(--color-accent);
  filter: brightness(125%);
}

.listsbox {
  width: 100%;
  height: 90%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.list {
  display: flex;
  
  width: 100%;
  height: 5rem;
  /* color: rgb(200, 200, 200); */
  color: var(--color-blog-light-gray);
  font-weight: bolder;
  background-color: rgba(123, 151, 174, 0.2);
  margin-top: 1rem;

  padding: 1.5rem;
  font-size: 100%;
  border-radius: 1rem;
}

.list:hover {
  filter: brightness(125%);

}