.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 100%;
  /* background-image: url('/public/image/monterey.jpeg'); */
  background-image: url(https://2coldok.github.io/react-blog/image/monterey.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

