.container {
  overflow: auto;
  /* background-color: var(--color-blog-dark); */
  background-color: rgba(192, 192, 192, 0.3);
  width: 80%;
  height: 90%;
  border-radius: 0.3rem;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  color: rgba(187, 187, 187, 0.8);
}

.ulist {
  padding: 0;
  margin: 0;  
}

.list {
  background-color: var(--color-blog-semi-gray);
  border-radius: 20px;
  padding: 1.2rem;
  margin: 1rem;
  color: var(--color-blog-light-gray);
}