.container {
  overflow: auto;
  /* background-color: var(--color-blog-dark); */
  background-color: rgba(192, 192, 192, 0.3);
  width: 60%;
  height: 90%;
  border-radius: 0.3rem;
  padding: 0;
}

.middle {
  display: flex;
  align-items: center;
}

.img {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
}

.title {
  margin-left: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  color: rgba(187, 187, 187, 0.8);
}

.ulist {
  padding: 0;
  margin: 0;  
}

.list {
  background-color: var(--color-blog-semi-gray);
  border-radius: 20px;
  padding: 1.2rem;
  margin: 1rem;
  color: var(--color-blog-light-gray);
}

.list:hover {
  /* transform: scale(1.1); */
  background-color: rgb(151, 151, 151, 0.3);
}